.div1{
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid;
}
.div2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border: 1px solid;
}
.div3{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px solid;
}